p {
  line-height: 1.4em;
}

#targetElem {
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 1.2em;
  padding-top: 4pt;
  border: 1px gray solid;
  font-size: 24pt;
}

.background0 {
  background-color: rgba(0, 0, 255, 0);
}

.background50 {
  background-color: rgba(0, 0, 255, 0.5);
}

.background100 {
  background-color: rgba(0, 0, 255, 1);
}

p[class='lorem'] {
  color: rgb(50, 50, 50);
  max-width: 800px;
}
